*{
    box-sizing: border-box;
}

body{
    background-color: #f4f5f7;
    color: #e2e8f0;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    background-image: linear-gradient(90deg, rgba(87,76,232,1) 0%, rgba(63,159,219,1) 100%);
    padding: 40px 120px; 
}

header h1 :hover{
    color: rgb(87, 76, 232, 1);
}

header li :hover{
    color: rgba(63,159,219,1);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 2em;
    margin: 0;
}

header nav ul{
    display: flex;
    width: 80%;
    gap: 750px;
}

.pesquisa{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #0a111e;
    width: 55%;
}

.pesquisa input{
    border: none;
    background: transparent;
    width: 95%;
    color: #ffffff;
}

.pesquisa ::placeholder{
    color: #ffffff;
    opacity: 0.7;
}

.pesquisa .lupa{
    padding: 5px;
}

.artigos{
    display: flex;
    padding: 40px 120px;
    gap: 40px;
    flex-wrap: wrap;
}

.cartao{
    flex-direction: column;
    width: 1200px;
    height: 400px;
    padding-left: 25%;
    color: #000;
}

.data{
    padding-right: 625px;
}

.curtir{
    border: none;
    cursor: pointer;
    
}

.artigo-texto{
    padding-bottom: 20px;
}

.cartao a :hover{
    color: rgba(63,159,219,1);
}

@media (max-width: 768px) {
    header{
        padding: 20px 40px;
    }

    .header-content{
        flex-direction: column;
        align-items: center;
    }

    header nav ul{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .pesquisa{
        width: 100%;
        margin: 10px 0;
    }

    .artigos{
        padding: 20px;
        flex-direction: column;
        font-size: 0.9em;
    }

    .cartao{
        width: 100%;
        padding-left: 0;
    }
}